* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vw;
    justify-content: center;
    background: rgb(30, 215, 96);
}

.square{
    background-color: white;
    margin: auto;
    width: 500px;
    height: 550px;
}

.logo-square {
    background-color: white;
    width: 500px;
    height: 50px
}